In [56]:
import random
import string
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
Card_ID = []
num = random.randrange(0, 100)
for i in range(100) :
    while num in Card_ID : # 중복될 경우
        num = random.randrange(0, 100) # 다시 난수 생성
    Card_ID.append(num)
#int

In [13]:
PIN = []
pw_len = 6 # 새 비밀번호 길이
pw_candidate = string.digits
new_pw = ''
for i in range(pw_len):
    new_pw += random.choice(pw_candidate)
for _ in range(100):
    while new_pw in PIN:
        new_pw = ''
        for i in range(pw_len):
            new_pw += random.choice(pw_candidate)
    PIN.append(new_pw)

In [42]:
def make_acc_name(L):
    name_len = L
    name_candidate = string.ascii_letters
    name = ''
    for i in range(name_len):
        name += random.choice(name_candidate)
    return name
def make_balance(L):
    bal_len = L
    bal_candidate = string.digits
    balance = str(random.randrange(1, 10))
    for i in range(bal_len - 1):
        balance += random.choice(bal_candidate)
    return int(balance)

In [43]:
a = make_acc_name(3)
b = make_balance(5)
b

57316

In [98]:
acc_info_list = []
name_len = random.randrange(1, 11)
for i in range(100):#100 cards
    per_acc = []
    for i in range(random.randrange(1, 5)):# random accounts
        account_name = make_acc_name(random.randrange(1,10))
        account_balance = make_balance(random.randrange(1,10))
        per_acc.append([account_name, account_balance])
    acc_info_list.append(per_acc)

In [99]:
account = {'Card_ID' : Card_ID,
           'PIN' : PIN,
           'account_n_balance': acc_info_list
}
account_df = DataFrame(account)
account_df

    Card_ID     PIN                                  account_n_balance
0        42  474998  [[btESi, 462042], [LcDGge, 887056], [GTBKeOFG,...
1        15  067544      [[Jvc, 5175], [ObmNIKJ, 183341], [tSWb, 525]]
2        75  814571  [[NtkVNcbNL, 362006659], [jAab, 1096833], [nrH...
3        12  442402                                 [[lPiEHPsuX, 677]]
4         2  160008                                       [[Ju, 1776]]
..      ...     ...                                                ...
95       69  546962          [[wb, 36098], [hBsmhG, 6], [U, 51448534]]
96       54  775325  [[AviQQru, 12128782], [nbjZZQ, 448018895], [GV...
97       46  856822     [[Jt, 5], [RuexlQCp, 635], [kHZaJv, 50044818]]
98       43  970847  [[KJhV, 30457], [R, 91257], [mjx, 564714], [uK...
99       11  286805  [[fxkZQULc, 907], [duWseyWq, 5716598], [nSHjth...

[100 rows x 3 columns]

In [100]:
account_df.to_csv('./account_infos.csv', sep=',', index = False)