In [56]:
import random
import string
import pandas as pd
from pandas import Series, DataFrame

zsh:1: command not found: pip

In [ ]:
Card_ID = []
num = random.randrange(0, 100)
for i in range(100) :
    while num in Card_ID : # 중복될 경우
        num = random.randrange(0, 100) # 다시 난수 생성
    Card_ID.append(num)
#int

In [13]:
PIN = []
pw_len = 6 # 새 비밀번호 길이
pw_candidate = string.digits
new_pw = ''
for i in range(pw_len):
    new_pw += random.choice(pw_candidate)
for _ in range(100):
    while new_pw in PIN:
        new_pw = ''
        for i in range(pw_len):
            new_pw += random.choice(pw_candidate)
    PIN.append(new_pw)

In [42]:
def make_acc_name(L):
    name_len = L
    name_candidate = string.ascii_letters
    name = ''
    for i in range(name_len):
        name += random.choice(name_candidate)
    return name
def make_balance(L):
    bal_len = L
    bal_candidate = string.digits
    balance = str(random.randrange(1, 10))
    for i in range(bal_len - 1):
        balance += random.choice(bal_candidate)
    return int(balance)

In [43]:
a = make_acc_name(3)
b = make_balance(5)
b

57316

In [98]:
acc_info_list = []
name_len = random.randrange(1, 11)
for i in range(100):#100 cards
    per_acc = []
    for i in range(random.randrange(1, 5)):# random accounts
        account_name = make_acc_name(random.randrange(1,10))
        account_balance = make_balance(random.randrange(1,10))
        per_acc.append([account_name, account_balance])
    acc_info_list.append(per_acc)

In [99]:
account = {'Card_ID' : Card_ID,
           'PIN' : PIN,
           'account_n_balance': acc_info_list
}
account_df = DataFrame(account)
account_df

    Card_ID     PIN                                  account_n_balance
0        42  474998  [[btESi, 462042], [LcDGge, 887056], [GTBKeOFG,...
1        15  067544      [[Jvc, 5175], [ObmNIKJ, 183341], [tSWb, 525]]
2        75  814571  [[NtkVNcbNL, 362006659], [jAab, 1096833], [nrH...
3        12  442402                                 [[lPiEHPsuX, 677]]
4         2  160008                                       [[Ju, 1776]]
..      ...     ...                                                ...
95       69  546962          [[wb, 36098], [hBsmhG, 6], [U, 51448534]]
96       54  775325  [[AviQQru, 12128782], [nbjZZQ, 448018895], [GV...
97       46  856822     [[Jt, 5], [RuexlQCp, 635], [kHZaJv, 50044818]]
98       43  970847  [[KJhV, 30457], [R, 91257], [mjx, 564714], [uK...
99       11  286805  [[fxkZQULc, 907], [duWseyWq, 5716598], [nSHjth...

[100 rows x 3 columns]

In [100]:
account_df.to_csv('./account_infos.csv', sep=',', index = False)

In [101]:
account_info = pd.read_csv("./account_infos.csv")
account_info

    Card_ID     PIN                                  account_n_balance
0        42  474998  [['btESi', 462042], ['LcDGge', 887056], ['GTBK...
1        15   67544  [['Jvc', 5175], ['ObmNIKJ', 183341], ['tSWb', ...
2        75  814571  [['NtkVNcbNL', 362006659], ['jAab', 1096833], ...
3        12  442402                               [['lPiEHPsuX', 677]]
4         2  160008                                     [['Ju', 1776]]
..      ...     ...                                                ...
95       69  546962    [['wb', 36098], ['hBsmhG', 6], ['U', 51448534]]
96       54  775325  [['AviQQru', 12128782], ['nbjZZQ', 448018895],...
97       46  856822  [['Jt', 5], ['RuexlQCp', 635], ['kHZaJv', 5004...
98       43  970847  [['KJhV', 30457], ['R', 91257], ['mjx', 564714...
99       11  286805  [['fxkZQULc', 907], ['duWseyWq', 5716598], ['n...

[100 rows x 3 columns]

In [102]:
id_info = account_info[account_info['Card_ID'] == 42]

   Card_ID     PIN                                  account_n_balance
0       42  474998  [['btESi', 462042], ['LcDGge', 887056], ['GTBK...

In [139]:
account_info[account_info['Card_ID'] == 42]['account_n_balance'] = str(account)

<ipython-input-139-24432dca820d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  account_info[account_info['Card_ID'] == 42]['account_n_balance'] = str(account)

In [141]:
account_info

    Card_ID     PIN                                  account_n_balance
0        42  474998  [['btESi', 462042], ['LcDGge', 887056], ['GTBK...
1        15   67544  [['Jvc', 5175], ['ObmNIKJ', 183341], ['tSWb', ...
2        75  814571  [['NtkVNcbNL', 362006659], ['jAab', 1096833], ...
3        12  442402                               [['lPiEHPsuX', 677]]
4         2  160008                                     [['Ju', 1776]]
..      ...     ...                                                ...
95       69  546962    [['wb', 36098], ['hBsmhG', 6], ['U', 51448534]]
96       54  775325  [['AviQQru', 12128782], ['nbjZZQ', 448018895],...
97       46  856822  [['Jt', 5], ['RuexlQCp', 635], ['kHZaJv', 5004...
98       43  970847  [['KJhV', 30457], ['R', 91257], ['mjx', 564714...
99       11  286805  [['fxkZQULc', 907], ['duWseyWq', 5716598], ['n...

[100 rows x 3 columns]

In [136]:
id_info['account_n_balance'] = str(account)
id_info

<ipython-input-136-8d0336dd5d11>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id_info['account_n_balance'] = str(account)

   Card_ID     PIN                                  account_n_balance
0       42  474998  [['btESi', 507285], ['LcDGge', 887056], ['GTBK...

In [147]:
# account_info.drop(account_info['Card_ID'] == 42)
idx = account_info[account_info['Card_ID'] == 42].index
idx

Int64Index([0], dtype='int64')

In [151]:
account_info = account_info.drop(idx)

In [152]:
new_info = pd.concat([account_info, id_info])

In [153]:
new_info

    Card_ID     PIN                                  account_n_balance
1        15   67544  [['Jvc', 5175], ['ObmNIKJ', 183341], ['tSWb', ...
2        75  814571  [['NtkVNcbNL', 362006659], ['jAab', 1096833], ...
3        12  442402                               [['lPiEHPsuX', 677]]
4         2  160008                                     [['Ju', 1776]]
5        61  139095   [['JdnIsTe', 582382772], ['gqngHnmz', 85270112]]
..      ...     ...                                                ...
96       54  775325  [['AviQQru', 12128782], ['nbjZZQ', 448018895],...
97       46  856822  [['Jt', 5], ['RuexlQCp', 635], ['kHZaJv', 5004...
98       43  970847  [['KJhV', 30457], ['R', 91257], ['mjx', 564714...
99       11  286805  [['fxkZQULc', 907], ['duWseyWq', 5716598], ['n...
0        42  474998  [['btESi', 507285], ['LcDGge', 887056], ['GTBK...

[100 rows x 3 columns]

In [103]:
acc = id_info['account_n_balance'][0]
account = ast.literal_eval(id_info['account_n_balance'][0])
account

[['btESi', 462042], ['LcDGge', 887056], ['GTBKeOFG', 8863]]

In [104]:
account[0][1] = account[0][1] + 45243

In [122]:
account

[['btESi', 507285], ['LcDGge', 887056], ['GTBKeOFG', 8863]]

In [118]:
account_info[account_info['Card_ID'] == 42]['account_n_balance'][0] = str(account)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [125]:
account_info.loc[0]['account_n_balance'] = account

<ipython-input-125-0807dd2ae195>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  account_info.loc[0]['account_n_balance'] = account

In [131]:
new_info = account_info.copy()

In [134]:
new_info

    Card_ID     PIN                                  account_n_balance
0        42  474998  [['btESi', 462042], ['LcDGge', 887056], ['GTBK...
1        15   67544  [['Jvc', 5175], ['ObmNIKJ', 183341], ['tSWb', ...
2        75  814571  [['NtkVNcbNL', 362006659], ['jAab', 1096833], ...
3        12  442402                               [['lPiEHPsuX', 677]]
4         2  160008                                     [['Ju', 1776]]
..      ...     ...                                                ...
95       69  546962    [['wb', 36098], ['hBsmhG', 6], ['U', 51448534]]
96       54  775325  [['AviQQru', 12128782], ['nbjZZQ', 448018895],...
97       46  856822  [['Jt', 5], ['RuexlQCp', 635], ['kHZaJv', 5004...
98       43  970847  [['KJhV', 30457], ['R', 91257], ['mjx', 564714...
99       11  286805  [['fxkZQULc', 907], ['duWseyWq', 5716598], ['n...

[100 rows x 3 columns]

In [79]:
import ast 
def bring_info(id):
    id_info = account_info[account_info['Card_ID'] == id]
    pin = id_info['PIN']
    account = ast.literal_eval(id_info['account_n_balance'][0])
    return pin, accounts

In [90]:
def show_account(card_account):
    for i in range(1, len(card_account) + 1):
        print("{}. {}".format(i,card_account[i-1][0]))
def show_menu():
    print("------------------")
    print("1. balance")
    print("2. Deposit")
    print("3. Withdraw")
    print("------------------")
    menu = int(input("Please choose one: "))
    return menu

def deposit(selected_account, money, card_account):
    card_account[selected_account -1][1] = card_account[selected_account-1][1] + money

In [83]:
id_info['Card_ID']

0    42
Name: Card_ID, dtype: int64

In [107]:
i = 1
show_account(account)

1. btESi
2. LcDGge
3. GTBKeOFG

In [ ]:
account